body {
  margin: 0;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, minmax(auto, 300px));
  grid-auto-rows: 250px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f4f4;
  padding: 10px 20px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  display: grid;
  align-content: end;
  text-shadow: 2px 2px 10px rgba(0,0,0, 0.7);
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.4);
  transition: all .3s ease;
}

.card__title,
.card__date,
.card__desc {
  z-index: 10;
}

.card__date,
.card__desc {
  opacity: 0;
  display: none;
}

.card:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.card:nth-child(4) {
  grid-column: 2 / 4;
}

.card:nth-child(5) {
  grid-column: 1 / 3;
}

.card:hover {
  box-shadow: none;
}

.card:hover .card__title {
  opacity: 0;
}

.card:hover .card__date,
.card:hover .card__desc {
  opacity: 1;
  display: initial;
}

.overlay {
  background: linear-gradient(0deg, #000 10%, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
  border-radius: 5px;
}